.authentication-page {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.auth-container {
    position: relative;
    width: 100%;
    min-height: 90vh;
    overflow: hidden;
}

.signupLogin-container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
}

.panel-container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.panel {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    transition: transform 1.9s ease-in-out;
    transition-delay: 0.6s;
    height: 100%;
    width: 100%;
    z-index: 1;
} 

.left-panel {
    transform: translateX(-700px);
}

.panel-image{
  width: 1 1 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel div {
    margin-top: 40px;
    z-index: 5;
}

.panel p {
    color: var(--blue-900);
    font-size: 1.2rem;
}

.panel button {
    width: 13rem;
    height: 40px;
    font-weight: 600;
    font-size: 0.9rem;
    border: 2.5px solid var(--blue-900);
    border-radius: 50px;
    background: none;
    margin: 10px;
}

.signupLogin-forms {
    position: absolute;
    top: 50px;
    display: grid;
    /*grid-template-columns: auto;*/
    transition: all 1s ease-in-out;
    transition-delay: 0.9s;
    width: 50%;
}

.signin,
.signup {
    transition: all 0.9s ease-in-out;
    transition-delay: 0.9s;
    /*grid-column: 1 / 2;
    grid-row: 1 / 2;
    z-index: 2;*/
}

.signin {
    display: none;
}

.auth-container:before {
    content: "";
    transform: translateY(-550px);
    position: absolute;
    height: 1000px;
    width: 2000px;
    background: var(--blue-100);
    transition: 1.8s ease-in-out;
    border-radius: 50%;
    z-index: 1;
}

/*ANIMATION */
.auth-container.signin-mode:before {
    transform: translate(-1900px, -550px);
}

.signin-mode .right-panel {
    transform: translateX(700px);
}

.signin-mode .left-panel {
    transform: translateX(10px);
}

.signin-mode .signupLogin-forms {
    transform: translateX(100%);
 }

.signin-mode .signup {
    display: none;
}

.signin-mode .signin {
    display: block;
}

/** MEDIA QUERY*/
@media screen and (max-width:1000px) {
    
.signin-mode .left-panel {
    transform: translateX(-1000px);
}


    /** ANIMATION */
    .signin-mode .left-panel {
        transform: translateX(-10px);
    }

}

@media screen and (max-width: 500px ) {
    .auth-container:before {
        height: 1000px;
        width: 1000px;
        transform: translate(-500px, 450px);
    } 
    
    .panel-container {
        grid-template-columns: 1fr ;
        grid-template-rows: repeat(2, 1fr); 
    }

    .panel{
        min-height: 350px;
    }

    .left-panel {
        transform: translate(0, -150px);
    }

    .right-panel {
        transform: translate(0,  -150px);
        justify-content: flex-end;
    }

    .panel-image{
        display: none;
    }

    .signupLogin-forms {
        top: 20px;
        width: 100%;
    }

    /**ANIMATION*/
.auth-container.signin-mode:before {
        transform: translate(-500px, -850px);
    }

    .signin-mode .left-panel {
        transform: translate(0, -20px);
    }

    .signin-mode .right-panel {
        transform: translate(0, 300px);
    }

    .signin-mode .signupLogin-forms {
        transform: translateX(0);
     }

     .signin {
         margin-top: 180px;
     }
}
