/* Menu box */
.menu-box {
    display: flex;
    flex: 0.4 0;
}

.badge {
    display: flex;
    padding: 10px 0 0 0px;
    box-sizing: border-box;
    flex: 1.5 0;
    min-width: 120px;
    justify-content: center;
}

.badge a img {
    max-width: 100%;
    height: 25px;
    display: inline-block;
}

.badge .repute {
    font-size: 1em;
    color: rgb(72, 71, 74);
}

.badge .silver {
    font-size: 0.7rem;
    color: silver;
}

.badge .bronze {
    font-size: 0.7rem;
    color: goldenrod;
}

.repute,
.silver,
.bronze {
    padding: 6px 3px;
}

.menu-icon {
    box-sizing: border-box;
    padding: 13px 7px;
}

.menu-icon:hover,
.badge:hover {
    background: var(--ash);
    box-sizing: border-box;
}

.menu-icon a {
    font-size: 1.2rem;
    color: rgb(115, 112, 112);
} 