.searchbar {
    background: var(--white);
    /* border: 1px solid var(--black-200); */
}

.s_form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 3px;
    background: var(--white);
    border: 1px solid var(--black-200);
    width: 100%;
}

.s_form>div {
    padding: 5px;
    line-height: 6px;
}

.s_form>div:nth-child(2) {
    width: 100%;
}

.s_form>div:nth-child(2) .srch-input {
    box-shadow: none;
    color: var(--black-700);
    border: 1px solid var(--white);
    border-radius: 3px;
    padding: 0;
    width: 100%;
}

.s_form:hover,
.s_form:focus,
.s_form:focus-within {
    border: 2px solid var(--blue-200);
    box-shadow: 0 0 5px var(--blue-400);
}

.s_icon {
    color: var(--black-350);
    pointer-events: none;
    font-weight: bolder;
    font-size: large;
}