.hide-popover {
    display: none;
}

.popover {
    position: absolute;
    top: 51px;
    gap: 15px;
    border-left: 2px solid var(--ash);
    border-right: 2px solid var(--ash);
    border-bottom: 2px solid var(--ash);
    border-radius: 7px;
    width: 13rem;
    /* z-index: 18; */
    background: white;
}

.products-types-popover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 2px;
}

.products-types-popover ol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    cursor: pointer;
    gap: 18px;
}

.products-types-popover>ol>li {
    text-align: left;
    border-radius: 3px;
    width: 12.2rem;
    padding: 2px;
    margin: 3px;
}

.products-types-popover>ol>li:hover {
    background: var(--ash);
}

.products-types-popover>ol>li .popover-title {
    color: var(--black-750);
}

.products-types-popover>ol>li .popover-content {
    color: var(--black-350);
}

.popover>section {
    border-top: 2px solid var(--ash);
    height: 2.5rem;
    background: var(--grey-light);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
}

.popover>section span {
    margin-left: 20px;
    color: var(--black-350);
}

.popover>section span:hover {
    color: var(--black-750);
}

.popover-arrow {
    position: relative;
    height: 8px;
    width: 9px;
    top: -8px;
    transform: rotate(135deg);
    background: var(--white);
    margin: auto;
    border-bottom: 1px solid var(--ash);
    border-left: 1px solid var(--ash);
}

/* Media query */
@media screen and (max-width:800px) {
} 


/* Media query */
 @media screen and (max-width:530px) {
    .popover {
        width: 13rem;
        top: 52px;
    }

    .products-types-popover>ol>li {
        padding: 3px;
        width: 12rem;
    }
}