.questions-page{
    display: flex;    
    flex-direction: column;    
    background-color: #fff;    
}

.notify-container {
    position: fixed;
    left: 0;
    top: 0;
    height: 0;
    z-index: 5051;
    flex: 1 0 auto;
}

.custom-header {
    display: none;
}

.container{
    max-width: 1264px;
    flex: 1 0 auto;
    display: flex; 
}

.left-sidebar {
    flex: 0 0 164px;
    box-shadow: 0 0 0 rgb(12 13 14 / 5%);
}

.content {
    max-width: 1100px;
    display: flex;
    flex: 1 1 auto;
    background-color:  var(--white);
    border: 1px solid var(--black-100);
    border-top-width: 0;
    border-bottom-width: 0;
    border-left-width: 1px;
    border-right-width: 0;
    box-sizing: border-box;
}

.main {
   /*width: calc(100% - 300px - 24px);*/
   flex: 0 0 calc(100% - 300px - 24px);
}

.main-top-grid {
    display: flex;
    flex: 0 0 auto;
    padding: 20px 5px 10px 10px;
}

.main-top-grid h1 {
    flex: 0 0 auto;
    font-size: 2.07692308rem !important;
}

.ask-question-btn {
    flex: 1 0 auto;
    text-align: right;
    padding: 15px 0;
}

.ask-question-btn a {
    color: #fff;
    background-color: var(--blue-500);
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    padding: 10px;
}

.data-query {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 5px 10px 5px;
}

.in-archaive {
    flex: 1 0 120px;
    padding: 10px 5px;
    text-align: left;
}

.query {
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-end;
    border-radius: 2px;
    border: 1px solid var(--black-300);
}

.newest,
.active,
.unanswered {
    color: var(--black-300);
    padding: 6px;
}

.active {
    background: var(--black-200);
    color: var(--black-600);
    border: 1px solid var(--black-300);
    border-top-width: 0;
    border-bottom-width: 0;
    border-left-width: 1px;
    border-right-width: 1px;
}

.main-right {
    flex: 0 0 350px;
    border: 1px solid var(--black-100);
    border-top-width: 0;
    border-bottom-width: 0;
    border-left-width: 1px;
    border-right-width: 0;
    box-sizing: border-box;
}

/** Media query for tablets */
@media screen and (max-width: 1024px) {
    .left-sidebar{
        display: none;
    }
}

/** Media query for smartphones**/
@media screen and (max-width: 480px) {
    .left-sidebar {
        display: none;
    }

    .main {
        flex: 0 0 100%;
     }

    .main-right {
        display: none;
    }

    .main-top-grid {
        padding: 20px px;
    }

    .main-top-grid h1 {
        padding-top: 10px;
        font-size: 1.07692308rem !important;
    }

    .query {
        justify-content: space-evenly;
    }
}