.Home{
    width: 100vw;
    height: 100vw
}

.topNav{
    width: 95%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right:5rem;
    border-top: 3px solid #F48024;
}

.brandlogo {
    color:#F48024;
    font-weight: bolder;
    font-size: 20px;
}

.searchbar {}

.topNav-right-section {
    display: flex;
    width: 10rem;
    justify-content: space-evenly;
}

.login button {
    color: #39739d;
    background: #e1ecf4;
    border-color: #7aa7c7; 
    width: 5rem;
    height: 2rem;
    padding: .8em;
    border: 1px solid transparent;
    border-radius: 3px;
    outline: none;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

.about {

}