.question-author {
    align-self: flex-end;
    display: flex;
    align-items: end;
    gap: 0.3rem;
}

.question-author p {
    color: var(--black-400);
    order: 2;
}

.author-details {
    display: flex;
}

.author-details img {
    width: 1rem;
    height: 1rem;
}

.author {
    display: flex;
    /* flex-direction: column; */
    align-items: end;
    padding-left: 0.6rem;
}

.author-name {
    text-decoration: none;
    color: var(--blue-600);
}

.reputation-score {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
    font-size: 1rem;
}

.reputation-score>ul {
    display: flex;
    align-items: center;
}

.reputation-score>ul li {
    margin: 0 0.1rem;
}

.reputation-score ul li:nth-child(1) {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 1.5rem;
}

.reputation-score>ul .gold-honor{
    background: var(--orange-900);
}

.reputation-score>ul .silver-honor {
    background: var(--black-400);
}

.reputation-score>ul .bronze-honor {
    background: var(--yellow-900);
}

@media screen and (max-width: 480px) {}