.question-author {
    margin-top: 15px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.question-author p {
    margin: 0 60px 5px ;
    color: var(--black-400);
}

.author-details{
    display: flex;
}

.author-details img {
    width: 3rem;
    height: 40px;
}

.author {
    display: flex;
    flex-direction: column;
}

.author-name {
    margin: 0px 0 0  8px;
    text-decoration: none;
    color: var(--blue-600);
}

.reputation-score {
    margin: 11px 0 0  8px;
    display: flex;
}

.score {
    margin: 0 8px 0 8px;
}

.score li {
    display: inline-flex;
    margin: 0 3px 0 3px;
}

.score .indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

ul .gold {
    background: var(--orange-900);    
}

ul .silver {
    background: var(--black-400);    
}

ul .bronze {
    background: var(--yellow-900);    
}

@media screen and (max-width: 480px) {
}