.nav-icon-mobile,
.smtphone-search-icon,
.sideNav {
    display: none;
}

.header-wrapper {
    position: relative;
    z-index: 5;
}

.notify {
    position: fixed;
    left: 0;
    top: 0;
    height: 3px;
    width: 100%;
    z-index: 5051;
    background: var(--orange);
}

.brand-logo-wrapper {
    flex: 13em 0 0;
    min-width: 13em;
}

/* Main Nav */
.nav {
    background: var(--grey-light);
    position: fixed;
    top: 3px;
    left: 0;
    text-align: center;
    padding: 0;
    width: 100%;
    border: 1px solid var(--shadow);
    box-shadow: var(--shadow);
}

.nav-box {
    display: flex;
    height: 45px;
    margin: 0 3%;
    gap: 5px;
}

.nav-link {
    align-self: center;
    border-radius: 15px;
    font-size: 0.9rem;
    padding: 8px 0;
    cursor: pointer;
    min-width: 5.5rem;
}

.nav-link:hover {
    background: var(--ash);
}

.nav-link:active,
.nav-link:focus {
    background: var(--orange);
    color: var(--white);
}

.auth-btns {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.login-btn,
.signup-btn {
    padding: .6em .9em;
    margin: 0 5px;
}

.signup-btn .links {
    color: var(--white);
}

/** Media query for tablets */
@media screen and (max-width: 1024px) {

    .brandlogo {
        font-size: 15px;
    }

    .menulinks .bar-item {
        padding: 0 10px 0 10px;
    }

    .smtphone-search-icon {
        display: none;
    }

}

/** Media query for smartphones**/
@media screen and (max-width: 480px) {
    .menulinks .bar-item {
        padding: 0 5px 0 5px;
    }

    .menubtns {
        margin: 0 5px 0 10px;
    }

    .menubtns .bar-item {
        padding: 4px 4px 4px 4px;
    }

    .menu-icon-mobile {
        display: block;
        font-size: 2rem;
    }

    .sideNav {
        display: block;
        width: 70%;
        position: fixed;
        top: 3.5rem;
        transition: 840ms;
    }

    .sideNav ul {
        float: left;
        margin: 5px 0 0 10px;
    }

    .sideNav.hidden {
        display: none;
    }

    .brandlogo {
        display: none;
    }

    .smtphone-search-icon {
        display: inline-block;
        height: 2rem;
        font-size: 1.3rem;
        cursor: pointer;
        color: var(--black-400);
        padding: 10px 6px 0px 6px;
        margin: 0 2px 0 2px;
    }

    .smtphone-searchbar {
        background: var(--black-050);
        padding: 8px;
    }

}