
.top-bar._fixed {
    position: fixed;
    min-width: auto;
    box-shadow: 0 3px 0 var(--black-050);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5050;
    background: var(--black-025);
    height: 50px;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    box-sizing: border-box;
    border-top: 3px solid var(--orange);
}

.menu-bar {
    display: flex;
    height: 100% !important;
    max-width: 97.2307692rem !important;
    margin-left: auto !important;
    margin-right: auto !important;
    justify-content: space-between;
    align-items: center !important;
}

.menu-icon-mobile,
.smtphone-search-icon,
.sideNav {
    display: none;
}

.brandlogo {
    color:  var(--orange);
    font-weight: bolder;
    font-size: 20px;
    margin-left: 1rem;
}

.menu-bar-items {
    display: flex;
    align-items: center !important;
}

.bar-item {
    margin: 3px;
    display: list-item;
}

.menulinks .bar-item {
       padding: 0 20px 0 20px;
}

.menubtns {
    margin: 0 1rem 0 10px;
}
.menubtns .bar-item {
    padding: 7px 10px 7px 10px;
}

/** Media query for tablets */
@media screen and (max-width: 1024px) {

    .brandlogo {
        font-size: 15px;
    }

    .menulinks .bar-item {
        padding: 0 10px 0 10px;
 }

 .smtphone-search-icon {
  display: none;
}

}

/** Media query for smartphones**/
@media screen and (max-width: 480px) {
    .menulinks .bar-item {
           padding: 0 5px 0 5px;
    }
    
    .menubtns {
        margin: 0 5px 0 10px;
    }
    .menubtns .bar-item {
        padding: 4px 4px 4px 4px;
    }
    
    .menu-icon-mobile {
        display: block;
        font-size: 2rem;
    }

.sideNav{
    display: block;
    width: 70%;
    position: fixed;
    top: 3.5rem;
    transition: 840ms;
}

.sideNav ul{
    float: left;
    margin: 5px 0  0 10px;
}
    
.sideNav.hidden {
    display: none;
}

.brandlogo {
    display: none;
}

.smtphone-search-icon {
    display: inline-block;
    height: 2rem;
    font-size: 1.3rem;
    cursor: pointer;
    color: var( --black-400);
    padding: 10px 6px 0px 6px;
    margin: 0 2px 0 2px;
}

.smtphone-searchbar {
        background: var(--black-050);
        padding: 8px;
    }

}



