.q_wrapper {
    width: 90%;
    height: 100vh;
    padding: 0;
    margin: auto;
}


.q_main {
    height: 100%;
    margin-left: 11rem;
}

.content {
    height: 100%;
}

@media screen and (max-width: 1300px) {
    .q_wrapper {
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 652px) {
    .q_wrapper {
        width: 100%;
    }

    .q_main {
        margin-left:0;
    }
}