.question-summary {
    display: flex;
    border-top: 1px solid var(--black-100);
    /*margin-top: 10px;*/
    width: 100%;
    z-index: 5;
}

.summary {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.votes,
.answers,
.views {
    padding: 18px 10px 10px 10px;
}

.votes span {
    font-size: 2rem;
    padding: 10px;
}

.answers span {
    font-size: 1rem;
    padding: 10px;
}
.views {
    color: var(--red-500);
}

.question {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    text-align: left;
}

.title {
    color: var(--blue-600);
    text-decoration: none;
    font-size: 18px;
}

.question-body {
    padding: 10px 0 10px 0;
}

.tags li {
    display: inline;
    background: var(--blue-100);
    color: var(--blue-600);
    font-size: 10px;
    margin: 0 5px 0 5px;
    padding: 3px 6px 3px 6px;
    border-radius: 3px;
}

@media screen and (max-width: 480px) {
    .question-summary {
        display: flex;
        height: 11rem;
        margin-left: 5px;
    }

    .summary {
        width: 9rem;
        margin: 0px 6px 0px 6px;
    }
 

    .question {
        padding-top: 10px;
        text-align: left;
    }
    
    .title {
        color: var(--blue-600);
        text-decoration: none;
        font-size: 15px;
    }

    .question-body {
        padding: 10px 10px 10px 0;
    }

}