.tags-wrapper {
    width: 100%;
    margin: 1.5rem 0 0.5rem 0;
}

.tags-heading {
    display: flex;
    justify-content: start;
    align-items: center;
}

.tags-heading div:nth-child(1) p {
    padding: 0.5rem 0rem;
    box-sizing: border-box;
}

.tags-heading div:nth-child(2) {
    margin-left: auto;
    margin-right: 0.5rem;
    color: var(--blue-700);
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tags-heading div:nth-child(2):hover {
    background: var(--blue-100);
}

.tags-heading div:nth-child(2):focus-within,
.tags-heading div:nth-child(2):focus {
    border: 3px solid var(--blue-100);
    background: var(--blue-050);
}

.tags-wrapper>form {
    width: 99%;
    box-sizing: border-box;
    display: flex;
    border: 1px solid var(--black-200);
    border-radius: 0.3rem;
    cursor: pointer;
}

.tags-wrapper>form>input {
    border-radius: 0.3rem;
    box-sizing: border-box;
    padding: 0.5rem;
    width: 100%;
    outline: none;
    border: none;
}

.tags-wrapper>form>input::placeholder {
    color: var(--black-200);
    font-size: 0.8rem;
    word-spacing: 2px;
}

.tags-wrapper>form:focus,
.tags-wrapper>form:focus-within {
    border: 4px solid var(--blue-100);
}

.tags-wrapper>form>input:focus,
.tags-wrapper>form>input:focus-within {
    border: 1px solid var(--black-300);
}