.fomart-tips-text {
    vertical-align: baseline;
    text-align: justify;
    color: 0;
}

.fomart-tips-text>p {
    margin: 0.8rem 0.5rem 1.2rem 0.5rem;
    text-align: left;
    word-spacing: 0.1rem;
    line-height: 1.2rem;
    color: var(--black-600);
}

.fomart-tips-text>ul {
    margin: 0.3rem 0.5rem 0.4rem 1.5rem;
    text-align: left;
    word-spacing: 0.1rem;
    width: 100%;
    color: var(--black-600);
}

.fomart-tips-text>ul li {
    word-spacing: 0.3rem;
    margin:0.2rem 0;
}

.fomart-tips-text pre {
    background: var(--black-050);
    padding: 0.5rem 0 0 0;
    margin: 0.3rem 0 0.5rem 1.5rem;
    color: var(--black-600);
}

.fomart-tips-text a {
    color: var(--blue-300);
}

.gap-box {
    height: 0.9rem;
    display: inline-block;
    background: var(--black-050);
}

.codeblock {
    background: var(--black-050);
    width: 10rem;
    margin: 0.5rem 0.3rem;
    text-align: left;
    word-spacing: 0.1rem;
    padding: 0.3rem 0 0.2rem 0.3rem;
    color: var(--black-600);
}

.width-1rem {
    width: 1rem;
}

.width-2rem {
    width: 2.5rem;
}

.width-3rem {
    width: 3rem;
}

.fomart-tips-text>table {
    margin: 0.3rem 0rem 0.6rem 1.5rem;
    border-collapse: separate;
    border-spacing: 0 0.5rem;
}

.fomart-tips-text>table tr th,
.fomart-tips-text>table tr td {
    padding: 0.1rem 0.3rem;
    word-spacing: 0.1rem;
    text-align: center;
    box-sizing: border-box;
    border-left: 1px solid var(--black-200);
    border-right: 1px solid var(--black-200);
}